MVCEmpleados/Connected Services/EmpleadoServiceReference/EmpleadoService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFEmpleados.Clases" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFEmpleados.Clases" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfEmpleadosDataContract.PaisDC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmpleadosDataContract.PaisDC" nillable="true" type="tns:EmpleadosDataContract.PaisDC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmpleadosDataContract.PaisDC" nillable="true" type="tns:ArrayOfEmpleadosDataContract.PaisDC" />
  <xs:complexType name="EmpleadosDataContract.PaisDC">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmpleadosDataContract.PaisDC" nillable="true" type="tns:EmpleadosDataContract.PaisDC" />
</xs:schema>